root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #fafaed;
    font-size: medium;
    width : 100%;
    top : 0;
    left : 0;
    margin:0;
}



a {
    color: black;
    text-decoration: none;
    background-color : #ddbc95;
    padding : 5px 8px;
    margin : auto;
    margin-bottom : 8px;
    border-radius: 15px;
}


.index, .tableLink{
    background-color : transparent;
    padding: 0;
    margin-top: 0;
}

.tableLink{
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right : 10px;
    display: inline;
    margin-left: 5px;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b38867;
    border-bottom-color: #b38867;
    border-left-color: #b38867;
    border-right-color: #b38867;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b38867;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b38867;
    border-bottom-color: #b38867;
    border-left-color: #b38867;
    border-right-color: #b38867;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: transparent;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

header{
    background-color: #3d4345;
    height : fit-content;
    width : 100%;
    text-align: center;
}

.header{
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
}

.header a {
  display: block;
  padding: 8px;
  color: white;
}

ul{    
    height : 100%;
    margin: 0;
    padding-left : 0;
}

#indexLinks{
    height : 100%;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

div{
    width : 75%;
    margin : auto;
    margin-top : 8px;
}

h1, p{
    text-align: center;
}

table{
    margin: auto;
    width : fit-content;
}

#body{
    width : max-content;
}

#viewImg{
    float: left;
}

br{
    margin-bottom: 5px;
}

.bodyLink{
    margin : auto;
    margin-right : 15px;
}

.bodyLinks{
    width : max-content;
    margin : auto;
}

#indexLinks{
    list-style : none;
    text-decoration: none;
    padding : 0;
    text-align: center;
}